<!DOCTYPE html>
<html lang="aa">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="profile-form">
    <h1>Profile</h1>
    <form method="POST">
        <div class="form-group">
            <label for="new_name">New Name:</label>
            <input type="text" id="new_name" name="new_name" placeholder="Enter new name" required>
        </div>
        <button type="submit">Update Profile</button>
    </form>
    <a href="/messages">View Messages</a>
</div>
</body>
</html>